In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("smart_class_energy_data.csv")

In [3]:
data.head()

,Num_Students,Outdoor_Temp,Time_of_Day,Humidity,Lights_On,Windows_Open,Fan_Speed,AC_Temp
0,33,34.714868,Morning,69.221654,1,0,2,26.911474
1,73,27.689434,Evening,75.267053,1,1,4,22.531882
2,73,38.544262,Afternoon,69.683302,0,0,3,23.523407
3,7,33.203330,Evening,89.243701,1,0,4,22.411541
4,35,33.565462,Evening,68.174341,0,0,1,26.139862

In [4]:
data.shape

(500, 8)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Num_Students  500 non-null    int64
 1   Outdoor_Temp  500 non-null    float64
 2   Time_of_Day   500 non-null    object
 3   Humidity      500 non-null    float64
 4   Lights_On     500 non-null    int64
 5   Windows_Open  500 non-null    int64
 6   Fan_Speed     500 non-null    int64
 7   AC_Temp       500 non-null    float64
dtypes: float64(3), int64(4), object(1)
memory usage: 31.4+ KB

In [6]:
data.describe()

,Num_Students,Outdoor_Temp,Humidity,Lights_On,Windows_Open,Fan_Speed,AC_Temp
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,49.218000,29.742121,61.601151,0.526000,0.490000,3.478000,22.984699
std,28.134491,5.708421,16.924468,0.499824,0.500401,1.201834,2.064986
min,5.000000,20.088729,30.145123,0.000000,0.000000,1.000000,20.006094
25%,25.000000,24.796337,47.449764,0.000000,0.000000,3.000000,21.298244
50%,46.000000,29.785890,62.974976,1.000000,0.000000,3.000000,22.656177
75%,74.000000,34.309672,75.977499,1.000000,1.000000,4.000000,24.200886
max,100.000000,39.930563,89.911184,1.000000,1.000000,5.000000,27.995065